<h1><%= t(:transactions_index) %></h1>

<%= content_tag :p, notice, class: 'text-success' %>
<%= content_tag :p, alert, class: 'text-danger' %>

<% if @transactions.present? %>
<table class="table">
  <thead>
    <tr>
      <% @transactions.first.attributes.keys.reject{|k| k.eql?('id') || k.eql?('created_at') || k.eql?('updated_at')}.each do |attribute| %>
      <td><%= t attribute.to_sym %></td>
      <% end %>
    </tr>
  </thead>
  <% @transactions.each do |transaction| %>
  <tr>
    <% transaction.attributes.keys.reject{|k| k.eql?('id') || k.eql?('created_at') || k.eql?('updated_at')}.each do |attribute| %>
    <td><%= transaction.send attribute.to_sym %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% else %>
<%= render 'import_form' %>
<p class="text-muted"><%= t(:no_transactions) %></p>
<% end %>
