<!DOCTYPE html>
<html>
<head>
  <title>DesafioProgramacao1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if current_user.present? %>
      <p id="login-text"><%= t(:hi_user, user: current_user.name) %> | <%= link_to t(:sign_out), signout_path %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
